.my.website {
  .logo {
    width: auto !important;
  }

  .menu {
    .checkbox {
      label {
        font-weight: normal;
      }
    }
  }

  .login.popup {
    width: 340px;
    max-width: none;
  }

  .footer.segment {
    padding: 5em 0em;
  }

  .main {
    margin-top: 30px;
  }

  @media only screen and (max-width: 768px) {
    .ui.card {
      width: auto;
    }
  }

  .ui.sticky {
    padding-top: 31px;
    z-index: 0 !important;
    
    .ui.vertical.menu {
      width: auto;

      .header {
        background-color: #dddddd !important;
      }
    }
  }

  article.markdown-body {
    padding: 0;
    margin-bottom: 30px;

    p {
      line-height: 1.6;
    }
  }

  .inline-editing {
    border: none;
    padding: 1px 5px;
  }
  .sm.inline-editing {
    padding: 0 1px;
  }
  .inline-editing:focus {
    outline: none;
    background: #eee;
  }
}